<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.wanyu">

    <!-- 往SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    //高德定位权限
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- ／／／／／／／／／／／／／／／／激光推送权限／／／／／／／／／／／／／／／／ -->
    <!-- Required -->
    <permission
        android:name="com.home.wanyu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.home.wanyu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- ／／／／／／／／／／／／／／／／激光推送权限／／／／／／／／／／／／／／／／ -->
    <application
        android:name=".Applications.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //高德定位服务
        <service android:name="com.amap.api.location.APSService" />
        //高德定位key
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="20a0f17534ab1d3de4e38c3b63405772">
            //开发者申请的key
        </meta-data>

        <!-- //主页面actvityty -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 情景设置 -->
        <activity
            android:name=".activity.HomeSenceSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.RepairActivity" />
        <activity android:name=".activity.SelectImgActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity
            android:name=".activity.HomeDeviceAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeDeviceAddWifiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 二维码扫描 -->
        <activity android:name=".zxing.app.PreferencesActivity" />
        <activity android:name=".zxing.app.CaptureActivity" />
        <!-- 二维码扫描 -->
        <activity android:name=".activity.HomeDeviceSettingActivity" />
        <activity android:name=".activity.HomeDeviceAddWifiSettingActivity" />
        <activity android:name=".activity.HomeSenceAddSenceActivity" />
        <activity android:name=".activity.OrderMessageActivity" />
        <activity android:name=".activity.OrderAddressActivity" />
        <activity android:name=".activity.LifeMoneyActivity" />
        <activity android:name=".activity.LifeMoneyActivity2" />
        <activity android:name=".activity.MoneyNumActivity" />
        <activity android:name=".activity.MoneyInputSureActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.CircleMessageActivity" />
        <activity android:name=".activity.CirclePostActivity" />
        <activity android:name=".activity.CircleCardMessageActivity" />
        <activity android:name=".activity.CircleGiveYouCommentActivity" />
        <activity android:name=".activity.CommunityMessageActivity" />
        <activity android:name=".activity.CommunityPostActivity" />
        <activity android:name=".activity.CommunityCommentActivity" />
        <activity android:name=".activity.CarPoolingActivity" />
        <activity android:name=".activity.CarPoolingPostActivity" />
        <activity android:name=".activity.CarPoolingMsgActivity" />
        <activity android:name=".activity.CarPoolingCommentActivity" />
        <activity android:name=".activity.DeviceSettingLightActivity" />
        <activity android:name=".activity.DeviceSettingSwitchActivity" />
        <activity android:name=".activity.DeviceSettingCurtainActivity" />
        <activity android:name=".activity.DeviceSettingAirConActivity" />
        <activity android:name=".activity.DeviceSettingTvActivity" />
        <activity android:name=".activity.DeviceSettingLockActivity" />
        <activity android:name=".activity.HomeDeviceAddRoomActivity" />
        <activity android:name=".activity.MyUserMsgEditorActivity" />
        <activity android:name=".activity.HomeDeviceAdRoomActivity" />
        <activity android:name=".activity.MyHouseActivity" />
        <activity android:name=".activity.MyHouseInfoActivity" />
        <activity android:name=".activity.MyHouseFamilyManagerActivity" />
        <activity android:name=".activity.MyHouseFamilyInfoActivity" />
        <activity android:name=".activity.MyHouseDeviceManagerActivity" />
        <activity android:name=".activity.MyHouseFamilyAddActivity" />
        <activity android:name=".activity.MyHouseFamilyEditor" />
        <activity android:name=".activity.MyCircleContactActivity" />
        <activity android:name=".activity.ExpressActivity" />
        <activity android:name=".activity.CommercialActivity" />
        <activity android:name=".activity.CommercialSearchAddressActivity" />
        <activity android:name=".activity.CommercialMessageActivity" />
        <activity android:name=".activity.DecorationActivity" />
        <activity android:name=".activity.HomeServiceActivity" />
        <activity android:name=".activity.HouseMsgActivity" />
        <activity android:name=".activity.HouseSearchAddessAndAreaActivity" />
        <activity android:name=".activity.HouseSearchAreaListActivity" />
        <activity android:name=".activity.HouseLookMessageActivity" />
        <activity
            android:name=".activity.HousePostCardActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.MySettingActivity" />
        <activity android:name=".activity.MySettingChangePhoneActivity" />
        <activity android:name=".activity.MyAboutUsActivity" />
        <activity android:name=".activity.OtherPersonInfoActivity" />
        <activity
            android:name=".activity.MyContactUs"
            android:label="@string/title_activity_my_contact_us"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MySettingChangePsdActivity" />
        <activity android:name=".activity.LoginAndRegisterActivity" />
        <activity android:name=".activity.DeviceSettingLockRecordActivity" />
        <activity android:name=".activity.DeviceSettingLockChangePSDActivity"></activity>

        <!-- ／／／／／／／／／／／／／／／／激光推送／／／／／／／／／／／／／／／／ -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"></activity>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.home.wanyu" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                ·
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.home.wanyu" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.home.wanyu" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".JpushUtils.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.home.wanyu" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="8970c6cd1148f7ce1a134575" /> <!-- </>值来自开发者平台取得的AppKey -->
        <!-- ／／／／／／／／／／／／／／／／激光推送权限／／／／／／／／／／／／／／／／ -->
        <activity android:name=".activity.MessageCarpoolActivity"></activity>
    </application>

</manifest>