<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.wanyu">

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 往SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- //主页面actvityty -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <!-- 情景设置 -->
        <activity
            android:name=".activity.HomeSenceSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.RepairActivity" />
        <activity android:name=".activity.SelectImgActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity
            android:name=".activity.HomeDeviceAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeDeviceAddWifiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 二维码扫描 -->
        <activity android:name=".zxing.app.PreferencesActivity" />
        <activity android:name=".zxing.app.CaptureActivity" />
        <!-- 二维码扫描 -->
        <activity android:name=".activity.HomeDeviceSettingActivity" />
        <activity android:name=".activity.HomeDeviceAddWifiSettingActivity" />
        <activity android:name=".activity.HomeSenceAddSenceActivity" />
        <activity android:name=".activity.OrderMessageActivity" />
        <activity android:name=".activity.OrderAddressActivity" />
        <activity android:name=".activity.LifeMoneyActivity" />
        <activity android:name=".activity.LifeMoneyActivity2" />
        <activity android:name=".activity.MoneyNumActivity" />
        <activity android:name=".activity.MoneyInputSureActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.CircleMessageActivity" />
        <activity android:name=".activity.CirclePostActivity" />
        <activity
            android:name=".activity.CircleCardMessageActivity"
          />
        <activity android:name=".activity.CircleGiveYouCommentActivity" />
        <activity android:name=".activity.CommunityMessageActivity" />
        <activity android:name=".activity.CommunityPostActivity" />
        <activity android:name=".activity.CommunityCommentActivity" />
        <activity android:name=".activity.CarPoolingActivity" />
        <activity android:name=".activity.CarPoolingPostActivity" />
        <activity android:name=".activity.CarPoolingMsgActivity" />
        <activity android:name=".activity.CarPoolingCommentActivity"></activity>
        <activity android:name=".activity.DeviceSettingLightActivity" />
        <activity android:name=".activity.DeviceSettingSwitchActivity" />
        <activity android:name=".activity.DeviceSettingCurtainActivity" />
        <activity android:name=".activity.DeviceSettingAirConActivity" />
        <activity android:name=".activity.DeviceSettingTvActivity" />
        <activity android:name=".activity.DeviceSettingLockActivity" />
        <activity android:name=".activity.HomeDeviceAddRoomActivity" />
        <activity android:name=".activity.MyUserMsgEditorActivity" />
        <activity android:name=".activity.HomeDeviceAdRoomActivity" />
        <activity android:name=".activity.MyHouseActivity" />
        <activity android:name=".activity.MyHouseInfoActivity" />
        <activity android:name=".activity.MyHouseFamilyManagerActivity" />
        <activity android:name=".activity.MyHouseFamilyInfoActivity" />
        <activity android:name=".activity.MyHouseDeviceManagerActivity" />
        <activity android:name=".activity.MyHouseFamilyAddActivity" />
        <activity android:name=".activity.MyHouseFamilyEditor" />
        <activity android:name=".activity.MyCircleContactActivity" />
        <activity android:name=".activity.ExpressActivity" />
        <activity android:name=".activity.CommercialActivity" />
        <activity android:name=".activity.CommercialSearchAddressActivity" />
        <activity android:name=".activity.CommercialMessageActivity" />
        <activity android:name=".activity.DecorationActivity" />
        <activity android:name=".activity.HomeServiceActivity" />
        <activity android:name=".activity.HouseMsgActivity" />
        <activity android:name=".activity.HouseSearchAddessAndAreaActivity" />
        <activity android:name=".activity.HouseSearchAreaListActivity" />
        <activity android:name=".activity.HouseLookMessageActivity" />
        <activity android:name=".activity.HousePostCardActivity"
            android:windowSoftInputMode="stateHidden"
            ></activity>
        <activity android:name=".activity.MySettingActivity" />
        <activity android:name=".activity.MySettingChangePhoneActivity" />
        <activity android:name=".activity.MyAboutUsActivity" />
        <activity android:name=".activity.OtherPersonInfoActivity" />
        <activity
            android:name=".activity.MyContactUs"
            android:label="@string/title_activity_my_contact_us"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MySettingChangePsdActivity" />
        <activity android:name=".activity.LoginAndRegisterActivity" />
        <activity android:name=".activity.DeviceSettingLockRecordActivity" />
        <activity android:name=".activity.DeviceSettingLockChangePSDActivity"></activity>
    </application>

</manifest>